
@import '../styles/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.body {
  @apply bg-white font-montserrat;
}

.mylabel {
  @apply font-medium text-gray-600;
}

/*----------------------Tables----------------*/
.table {
  @apply w-full  lg:text-base text-sm md:text-base font-semibold text-left bg-inherit;
}

.table_head {
  @apply justify-center uppercase  bg-inherit w-full;
}

.table_row {
  @apply border-b-2  md:font-bold font-semibold;
}

.table_head_row {
  @apply p-2 py-3 md:px-5 md:py-3 text-left cursor-default;
}

.table_head_row {
  @apply border-b hover:bg-gray-300;
}

.table_head_row_text {
  @apply p-2 md:px-10  md:py-4  font-medium;
}

.table_data {
  @apply px-2 md:px-6 py-2 md:py-4 font-normal lg:text-base text-sm  text-left;
}

.form_error {
  @apply text-red-500;
}

.loading_spinner {
  @apply rounded-full border-2 border-b-0 mx-auto border-secondary-50 h-5 w-5 animate-spin;
}


